tags
tmp
backup
*~
*.swp
*VimballRecord
bundles/endwise/*
bundles/fugitive/*
bundles/nerdcommenter/*
bundles/nerdtree/*
bundles/ragtag/*
bundles/snipmate/*
bundles/surround/*
bundles/syntastic/*
bundles/unimpaired/*
bundles/vim-cucumber/*
bundles/vim-git/*
bundles/vim-haml/*
bundles/vim-rails/*
bundles/vim-ruby/*
bundles/abolish/*
bundles/repeat/*
bundles/command-t/ruby/command-t/*.o
bundles/command-t/ruby/command-t/*.so
bundles/command-t/ruby/command-t/*.log
bundles/command-t/ruby/command-t/Makefile
